.box{
   
    background-color: #dfdfe2;
}
.title{
  width: fit-content;
  background-color: #72B3BF;
  border-radius: 8%;
  margin-bottom: 8px;
}


.containerBox { border:2px solid #ccc;
  width:100%;
   height: 100px;
    overflow-y: scroll;
margin-left: 0;
   }
   .inputshadow {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    height: 38px;
  }


.btn{
  background-color: #72B3BF;
}
    .itembox{
      border: 1px solid rgb(136, 135, 135);
      background-color: white;
      width: 99%;
    }

.checkboxstyle{
  width: 100%;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
margin-bottom: 5px;
  border: 1px solid #0000004d;
}
.saveBtn{
  background-color: #72B3BF;
  border-radius: 8%;
border: none;

}



.inputshadow {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    height: 38px;
    margin-right: 15px;
  }
  
  .inputshadowGender{
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0em 1.45em -1.3em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    height: 38px;
    margin-right: 15px;

  }

  .input-group{
    height: 29 !important;
    width: 100%;
  }

  .spantxt{
  height: 38px;
  width: 200px;
  }


  .spantxtMultiSelect{
    height: 40px;
    width: 200px;
  }
  /* .btnsave{
    position: absolute;
    right: 100px;
    border: var(--bs-btn-border-width) solid black;
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
  } */

  .bigBox{
    margin-top: 20px;
  }

  .upload-photo{
    display: none;
  }

  .upload-image{
    margin-right: 10px;
    margin-top: 20px;

  }

  @media only screen and (max-width: 600px) {
    .box{
      margin-left: 5px;
      margin-right: 5px;
      
  }
  }